.loadingCard {
  background-color: gray;
  animation: loading 1.5s linear infinite;
  filter: blur(3px);
  transition: 0.3s ease-in-out;
}
@keyframes loading {
  0% {
    background-color: gray;
  }
  100% {
    background-color: #a9a9a9;
  }
}
