.movieView {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
  padding: 0 0 0 14px;
}
.movieBackground {
  height: 200px;
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 0 20px 0 20px;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
}
.movieBackground > h1 {
  line-height: 40px;
  font-size: 60px;
}
.movieView img {
  width: 100%;
  min-width: 400px;
  max-width: 401px;
  /* aspect-ratio: calc(16 / 9); */
  min-height: 500px;
  max-height: 578px;
  height: auto;
  border-radius: 10px;
}
.movieView a {
  color: #747bff;
}
/* .placeholder {
  width: 401px;
  height: 578px;
  background-color: "gray";
  animation: loading 1.5s linear infinite;
} */
.imageOverview {
  line-height: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
}
.imageOverview > p {
  line-height: 25px;
}
.genreList {
  display: flex;
  flex-wrap: wrap;
}

.genre {
  font-size: 20px;
  font-weight: bolder;
}
.place {
  min-width: 401px;
  filter: blur(1px);
  height: 578px;
  background-color: gray;
  animation: loading 1.5s linear infinite;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .logo_path {
    margin-right: 20px;
  }
}

@media screen and (max-width: 770px) {
  .movieBackground > h1 {
    font-size: 40px;
  }
  .movieView {
    flex-direction: column;
  }
  .movieView img {
    max-width: 200px;
    min-width: 300px;
    object-fit: cover;
  }
  .place {
    width: 300px;
    min-height: 350px;
    max-height: 450px;
  }
  .imageOverview {
    margin-left: 0;
  }
  .genre {
    font-size: 16px;
  }
}
