.row {
  margin-left: 0;
  margin-top: 10px;
  color: white;
  transition: 0.2s ease-in-out;
}
.row > h2 {
  margin-left: 15px;
}
.row__posters {
  height: 320px;
  display: flex;
  overflow-y: hidden;
  position: relative;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  padding: 15px;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 2rem;
  scroll-behavior: smooth;
}
.snaps-inline > * {
  scroll-snap-align: start;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.row__posterDiv {
  margin-right: 10px;
  position: relative;
  transition: transform 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.row__posterDiv .face {
  transition: 0.4s;
}
.row__posterDiv > .face.face1 {
  z-index: 1;
  transform: translateY(44px);
  position: relative;
}
.row__posterDiv:hover > .face.face1 {
  transform: translateY(0);
}
.row__posterDiv > .face.face2 {
  transform: translateY(-46px);
  position: absolute;
  bottom: -20px;
  width: 100%;
  border: none;
  outline: none;
  background: linear-gradient(
    180.43deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.face2 > ul {
  list-style: none;
  padding: 0;
  border: none;
  margin: 0;
}
.face2 > ul > li {
  color: #f3f3f3;
  font-weight: bolder;
  padding: 8px 12px;
}
.rowDetails {
  color: #f3f3f3;
  text-decoration: none;
}
.rowDetails > li {
  font-weight: bolder;
  padding: 10px 12px;
}

.row__posterDiv > .face.face2 > ul > li:hover {
  background-color: #222222;

  cursor: pointer;
}
.rowDetails:hover > li {
  background-color: #222222;
}
.row__posterDiv:hover > .face.face2 {
  transform: translateY(-6px);
}
.row__posterLarge img {
  height: 250px !important;
  object-fit: cover;
}
.row__posterDiv img {
  object-fit: cover;
  cursor: pointer;
  max-height: 250px;
}
.backArrow {
  position: sticky;
  left: -15px;
  transform: translateY(44px);
  z-index: 4;
  border: none;
  cursor: pointer;
  background: transparent;
  color: white;
  height: 250px;
  max-width: 30px;
}
.backArrowLarge {
  height: 250.3px;
}
.forwardArrow {
  position: sticky;
  transform: translateY(44px);

  right: -15px;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  background: transparent;
  color: white;
  z-index: 4;
  height: 250.3px;
  cursor: pointer;
  max-width: 30px;
}
.backArrow:hover .Arrow {
  transform: scale(1.2);
}
.backArrow:hover {
  background: linear-gradient(
    180.43deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.forwardArrow:hover {
  background: linear-gradient(
    180.43deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.forwardArrow:hover .Arrow {
  transform: scale(1.2);
}

.row__posterDiv:nth-of-type(1):hover {
  z-index: 5;
}
.placeholderLoadingLarge {
  width: 444px;
  height: 250px;
  background-color: gray;
  filter: blur(5px);
}

@media screen and (max-width: 550px) {
  .placeholderLoadingLarge {
    width: 444px;
    height: 202px;
  }
  .row__posterLarge {
    height: 270px;
  }
  .row:first-of-type {
    height: 260px;
  }
  .row__posterLarge img {
    height: 202px !important;
  }
  .snaps-inline {
    scroll-padding-inline: 1rem;
  }
}
