.row {
  margin-left: 0;
  margin-top: 10px;
  color: white;
  transition: 0.2s ease-in-out;
}
.row > h2 {
  margin-left: 15px;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  position: relative;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  padding: 15px;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 2rem;
  scroll-behavior: smooth;
}
.snaps-inline > * {
  scroll-snap-align: start;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.row__posterDiv {
  margin-right: 10px;
  position: relative;
  transition: transform 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.row__posterLarge img {
  height: 250px !important;
  object-fit: cover;
}
.row__posterDiv img {
  object-fit: cover;
  cursor: pointer;
  max-height: 250px;
}
.backArrow {
  position: sticky;
  left: -15px;
  z-index: 3;
  border: none;
  cursor: pointer;
  background: transparent;
  color: white;
  height: 250px;
  max-width: 30px;
}
.backArrowLarge {
  height: 250.3px;
}
.forwardArrow {
  position: sticky;
  right: -15px;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  background: transparent;
  color: white;
  z-index: 3;
  height: 250.3px;
  cursor: pointer;
  max-width: 30px;
}
.backArrow:hover .Arrow {
  transform: scale(1.2);
}
.backArrow:hover {
  background: linear-gradient(
    180.43deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.forwardArrow:hover {
  background: linear-gradient(
    180.43deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.forwardArrow:hover .Arrow {
  transform: scale(1.2);
}

.dropdown {
  position: absolute;
  bottom: 5.9px;
  left: 0;
  width: 100%;
  z-index: 2;
  border: none;
  outline: none;
  background: linear-gradient(
    180.43deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.dropdown > ul {
  list-style: none;
  padding: 0;
  border: none;
  margin: 0;
}
.dropdown > ul > li {
  color: #f3f3f3;
  font-weight: bolder;
  padding: 8px 12px;
}

.rowDetails {
  color: #f3f3f3;
  text-decoration: none;
}
.rowDetails > li {
  font-weight: bolder;
  padding: 10px 12px;
}
.rowDetails > li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.dropdown > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.row__posterDiv:hover {
  transform: scale(1.1);
}
.row__posterDiv:nth-of-type(1):hover {
  z-index: 5;
}
.row__posterLarge:hover {
  transform: scale(1.03);
  z-index: 4;
}
@media screen and (max-width: 550px) {
  .row__posterLarge > span > img {
    height: 202px !important;
  }
  .snaps-inline {
    scroll-padding-inline: 1rem;
  }
}
